@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 20, 22;
  --background-rgb: 215, 223, 231;
  --scroll-rgb: 60, 115, 174;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 210, 27;
    --background-rgb: 0, 0, 0;
    --scroll-rgb: 255, 210, 27;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--scroll-rgb));
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
